@import "../../variables";

.linkItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 24px;

    @media (max-width: $sm) {
        font-size: 20px;
    }

    @media (max-width: $xs) {
        font-size: calc(10px + 2vmin);
    }

    .serviceLink {
        color: #29c2c4;
        text-decoration: none;

        &.failed {
            color: white;
        }

        &:hover {
            color: #29c2c4;
        }
    }
}

.copyRow{
    height: 0px;
}
.hiddenInput {
    height: 0px;
    width: 10px;
    opacity: 0;
}

.copiedSnackbar{
    .mdc-snackbar__surface{
        background-color: #29c2c4;
        .mdc-snackbar__label {
            font-size: 1rem;
        }
    }
}